@bodyBackground: #ffffff;

@navigationColor: #ffffff;
@navigationItemActiveIndicator: #ff5f07;
@navigationNavbarBorderTop: #383838;

@contentPageMarkerColor: #ffffff;

//@aboutPageContentColor: #333333;
@aboutPageContentColor: #ffffff;

@footerColor: #ffffff;


