@import "images.less";
@import "colors.less";
@import "constants.less";

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    font-family: Verdana, Helvetica, Tahoma, Arial;
    background: @bodyBackground;
    overflow: hidden !important;
}

#iam98_logo_small {
    padding: 10px 10px 0 10px;
}

#navigation {
    //display: none;
    height: @navigationHeight;
    border: 0 !important;
    background: transparent @navigationBackgroundImage;

    #navigation_contanier {
        max-width: @maxWidth;
    }

    .navbar_item {
        a {
            font-size: 18px;
            color: @navigationColor !important;
            line-height: normal;
            padding-bottom: 10px;
            background-color: transparent;
        }

        &.active {
            border-bottom: @navigationItemActiveIndicator 3px solid;
        }
    }

    .navbar-collapse {
        &.collapse.in {
            li {
                &.navbar_item {
                    &.active {
                        border-bottom: transparent;
                        border-left: @navigationItemActiveIndicator 3px solid;
                    }

                    a {
                        background: transparent @navigationBackgroundImage;
                    }
                }
            }
        }

        &.collapsing {
            li {
                &.navbar_item {
                    &.active {
                        border-bottom: transparent;
                        border-left: @navigationItemActiveIndicator 3px solid;
                    }

                    a {
                        background: transparent @navigationBackgroundImage;
                    }
                }
            }
        }
    }

    .navbar-header {
        height: @navigationHeight;

        button.navbar-toggle {
            background-color: transparent;
            border: 0;
        }
    }

    #myNavbar {
        border: 0;

        &.in ul.navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
            border-top: @navigationNavbarBorderTop 2px solid;
        }

        &.collapsing ul.navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
            border-top: @navigationNavbarBorderTop 2px solid;
        }
    }

}

footer {
    background: transparent @footerBackgroundImage repeat-x bottom;
    border: 0 !important;
    height: @footerSpaceHeight;

    #footer {
        max-width: @maxWidth;

        #iam98_avatar {
            float: right;
        }
    }

    #copyright {
        position: fixed;
        bottom: 7px;
        width: 100%;
        text-align: center;
        color: @footerColor;
        font-size: 10px;
    }
}

.content-pages {
    //color: #ffffff;
    //height: 983px;
    //border: #f90101 1px solid;
    //background: transparent @backgroundReference no-repeat 88% 100%;

    .row {
        &.header-space {
            div {
                height: @contentPageHeaderSpaceHeight;
                //vertical-align: bottom;
            }

            .page-marker {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 150px;
                height: 29px;
                text-transform: uppercase;
                color: @contentPageMarkerColor;
                padding: 4px 0 0 12px;
                font-size: 16px;
                background: transparent @contentPageMarkerBackgroundImage no-repeat;
            }
        }

        &.content-space {
            padding-top: 15px;
            text-align: center;
            min-height: 580px;

            p {
                text-align: justify;
                padding: 10px 0;
            }

            opacity: 0;
            -moz-transition: all 700ms ease-out;
            -webkit-transition: all 700ms ease-out;
            -o-transition: all 700ms ease-out;
            transition: all 700ms ease-out;
            -moz-transform: translate3d(0px, 200px, 0px);
            -webkit-transform: translate3d(0px, 200px, 0px);
            -o-transform: translate(0px, 200px);
            -ms-transform: translate(0px, 200px);
            transform: translate3d(0px, 200, 0px);
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &.content-space.in-view {
            opacity: 1;
            -moz-transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }

        &.footer-space {
            height: @footerSpaceHeight;
        }
    }
}

#home_content {
    //display: none;
    background: @backgroundGray;

    &.content-pages {
        .row {
            &.header-space {
                div {
                    height: @navigationHeight;
                }
            }

            &.footer-space {
                height: @navigationHeight;
            }
        }

        .content-space {
            //background: transparent @backgroundReference no-repeat 90% 0%;
        }
    }

}

#about_us_content {
    color: @aboutPageContentColor;
    //background: transparent @backgroundReference no-repeat 90% 0%;

    .content-space {
        //border: #3c3c3c 1px solid;
        .real-content {
            background: transparent @opaqueGray70;

            //h4, p {
            //    opacity: 1 !important;
            //}

            //opacity: 0.5;

        }
    }
}

#news_content {
    background: @backgroundGray;

    .content-space {
        .real-content {
            text-align: center;

            h4 {
                padding-bottom: 20px;
            }
            h5 {
                margin-top: 6px;
                margin-bottom: 2px;
            }
        }

        .w3-card-12 {
            max-width: 180px;
            margin: auto;
        }
    }
}

#contact_us_content {
    //color: @aboutPageContentColor;
    background: @backgroundGray;

    .content-space {
        .real-content {
        }
        #form_div {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;

            .form-group {
                text-align: left;
            }

        }
    }
}


#countdown-to-atchoy {
    text-align: center;
    color: #181818;
    /*color: #d99d0c;*/
    font-size: 32px;
    font-weight: bold;
    padding-top: 4px;
    line-height: 10px;
}